---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Glaister||Gaucher Architects</title>
	
	{% include meta.html %}
    <link rel="alternate" hreflang="tr" href="http://ggarchi.com/tr/index.html" />
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    	<link rel="icon" type="image/ico" href="/img/00-general/GGA-favicon.ico">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.mixitup.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>


	{{ content }}

{% include analytics.html %}

</body>
</html>
